<%= form_for([@song,@comment], remote: true, html: {id:"comments-form", :"data-type" => "json"}   ) do |f| %>
  
  <div class="field">
    <h2><strong> Agrega un comentario</strong></h2>
    <br>
    <%= f.text_area :text, placeholder: "Escribe un Comentario", class:"form-control" %>
    <br>
  </div>
  <%= f.hidden_field :publication_date, :value => Time.now %>   
  <div class="actions">
    <%= f.submit "Comentar", class:"btn btn-default btn-lg" %>

    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>
<% end %>
