
<h2>Reenviar instrucciones para desbloqueo</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control",:onblur =>"validarEmailCorrecto(this);",:onkeyup =>"validarEmailCorrecto(this);" %>
    <span class="help-inline" id="error_email" style="color:#FF0000;font-weight: bold"></span>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar instrucciones para desbloqueo" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
