

<p id="notice"><%= notice %></p>

<p>
  <strong>Correo electr&oacutenico:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @user.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.apellidos %>
</p>

<p>
  <strong>Apodo:</strong>
  <%= @user.apodo %>
</p>
<p>
  <strong>Imagen de perfil:</strong>
  <%= image_tag @user.imagenPerfil.url(:thumb) %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
