<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<h2 class="text-center">¿Olvidaste tu contraseña?</h2>
<div class="form-horizontal">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, "Correo electrónico *", class:"control-label col-sm-3" %>
    <div class="col-sm-6">
    
    <%= f.email_field :email, autofocus: false , class:"form-control", placeholder: "Digita tu correo electrónico",:onblur =>"validarEmailCorrecto(this);",:onkeyup =>"validarEmailCorrecto(this);" %>
     <span class="help-inline" id="error_email" style="color:#FF0000"><%= @user.errors[:email].any? ? @user.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
 


  <div class="form-actions">
    <%= f.submit "Enviarme instrucciones para restablecer mi contraseña" , class:"btn btn-default"%><br>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
